<%= form_for(@milestone) do |f| %>
  <% if @milestone.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@milestone.errors.count, "error") %> prohibited this milestone from being saved:</h2>

      <ul>
      <% @milestone.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :deal_id %><br />
    <%= f.text_field :deal_id %>
  </div>
  <div class="field">
    <%= f.label :percent %><br />
    <%= f.text_field :percent %>
  </div>
  <div class="field">
    <%= f.label :people %><br />
    <%= f.text_field :people %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
