<div id="vouchers" class="accordion" style="padding-top: 25px; padding-bottom:25px;">
	<ol style="list-style-type:none;">
        <li>
            <h2><span>Pending Deals</span></h2>
            <div id="pdeals">
            	PDEALS
            </div>
        </li>
        <li>
            <h2><span>Available Vouchers</span></h2>
            <div id="avouchers">
            	AVOUCHERS
            </div>
        </li>
        <li>
            <h2><span>Redeemed Deals</span></h2>
            <div id="rdeals">
            	RDEALS
            </div>
        </li>
    </ol>
</div>
<script>
$('#vouchers').liteAccordion({
    onActivate : function() {
        this.find('figcaption').fadeOut();
    },
    slideCallback : function() {    
        this.find('figcaption').fadeIn();
    },
    autoPlay : false,
    pauseOnHover : false,
    theme : 'basic',
    rounded : true,
    enumerateSlides : true             
}).find('figcaption:first').show();
</script>

<b>Vouchers: </b>
<% current_user.vouchers.each do |voucher|%>
<table>
	<tr>
    <th>Deal ID</th>
    <th>Value</th>
    <th>Redeemed</th>

  </tr>
	<tr>
	    <td><%= link_to 'Show Deal', deal_path(voucher.deal_id) %></td>
		<td><%= voucher.id %></td>
	    <td><%= voucher.redeemed %></td>
	<!--    <td><%= link_to 'Show', voucher %></td>
	    <td><%= link_to 'Edit', edit_voucher_path(voucher) %></td>
	    <td><%= link_to 'Destroy', voucher, :confirm => 'Are you sure?', :method => :delete %></td>   -->
	  </tr>
	<% end %>
	</table>
	</br>


