<div id="vouchers" class="accordion" style="padding-top: 25px; padding-bottom:25px;">
	<ol style="list-style-type:none;">
        <li>
            <h2><span>Pending Deals</span></h2>
            <div id="pdeals">
            	<table id="summary" style="border-style: dashed; border-color: #CC0000; background-color: #cee4d8; font-family:Helvetica, Arial, sans-serif; font-size:16px; height:320px;">
				<tr class="checkout">
				<td class="checkout">Purchase Price</td>
				<td class="checkout">Original Price</td>
				<td class="checkout">Voucher Code</td>
				<td class="checkout">Redeemed</td>
				<td class="checkout">Destroy</td>
				</tr>
				<% if is_company? %>
					<% counter = 0 %>
					<% company = Company.where("user_id = #{current_user.id}")[0] %>
					<% Deal.where("company_id = #{company.id}")[0].vouchers.each do |voucher| %>
						<% deal = Deal.find(voucher.deal_id) %>
						<% if counter >= 5 %>
							<% break %>
							<% end %>
						<tr class="data" valign="top">
							<td class= "data" valign="top">$<%= deal.current_price() %></td>
							<td class="data" valign="top">$<%= deal.org_price %></td>
							<td class="data" valign="top"><%= voucher.id %></td>
							<td class="data" valign="top"><%= voucher.redeemed %></td>
							<td class="data" valign="top"><%= link_to 'Destroy', voucher, :confirm => 'Are you sure?', :method => :delete %></td>
						</tr>
						<% counter += 1 %>				
					<% end %>
				<% else is_company? %>
					<% counter = 0 %>
					<% current_user.vouchers.each do |voucher|%>
						<% if counter >= 5 %>
							<% break %>
							<% end %>
						<% deal = Deal.find(voucher.deal_id) %>
						<tr class="data" valign="top">
						<td class="data" valign="top"><%= deal.percent_reached()*100 %>%</td>
						<td class="data" valign="top">$<%= deal.org_price %></td>
						<td class="data" valign="top">1</td>
						<td class="data" valign="top"><%= link_to 'Show Deal', deal_path(voucher.deal_id) %></td>
						</tr>
						<% counter += 1 %>				
					<% end %>
				<% end %>
				</table>
            </div>
        </li>
		<% unless is_company? %>
        <li>
            <h2><span>Available Vouchers</span></h2>
            <div id="avouchers">
            	<table id="summary" style="border-style: dashed; border-color: #CC0000; background-color: #cee4d8; font-family:Helvetica, Arial, sans-serif; font-size:16px; height:320px;">
				<tr class="checkout">
				<td class="checkout">Company</td>
				<td class="checkout">Purchase Price</td>
				<td class="checkout">Voucher Code</td>
				<td class="checkout">Product Description</td>
				</tr>
				<% counter = 0 %>
				<% current_user.vouchers.each do |voucher|%>
				<% if counter >= 5 %>
					<% break %>
				<% else %>
				<% deal = Deal.find(voucher.deal_id) %>
				<tr class="data">
				<td class="data" valign="top">1</td>
				<td class="data" valign="top">$<%= deal.org_price %></td>
				<td class="data" valign="top"><%= voucher.id %></td>
				<td class="data" align="center"><%= deal.description%></td>
				</tr>
				<% counter += 1 %>
				<% end %>
				<% end %>
				</table>
            </div>
        </li>
        <li>
            <h2><span>Redeemed Deals</span></h2>
            <div id="rdeals">
            	<table id="summary" style="border-style: dashed; border-color: #CC0000; background-color: #cee4d8; font-family:Helvetica, Arial, sans-serif; font-size:16px; height:320px;">
				<tr class="checkout">
				<td class="checkout">Company</td>
				<td class="checkout">Purchase Price</td>
				<td class="checkout">Original Price</td>
				<td class="checkout">Description</td>
				</tr>
				<% counter = 0 %>
				<% current_user.vouchers.each do |voucher|%>
				<% if counter >= 5 %>
					<% break %>
				<% else %>
				<% deal = Deal.find(voucher.deal_id) %>
				<tr class="data">
				<td class="data" valign="top"><%= Company.find(deal.company_id).name %></td>
				<td class="data" valign="top">$<%= deal.current_price() %></td>
				<td class="data" valign="top">$<%= deal.org_price %></td>
				<td class="data" valign="top"><%= deal.description%></td>
				</tr>
				<% counter += 1 %>
				<% end %>
				<% end %>
				</table>
            </div>
        </li>
		<% end %>
    </ol>
</div>
<script>
jQuery('#vouchers').liteAccordion({
    onActivate : function() {
        this.find('figcaption').fadeOut();
    },
    slideCallback : function() {    
        this.find('figcaption').fadeIn();
    },
    autoPlay : false,
    pauseOnHover : false,
    theme : 'basic',
    rounded : true,
    enumerateSlides : true             
}).find('figcaption:first').show();
</script>



