<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
      <h1>
        <%= @user.name %>
      </h1>
    </td>

    <td class="sidebar round">
      <strong>Name</strong> <%= @user.name %><br />
      <strong>URL</strong>  <%= link_to user_path(@user), @user %><br />
	  <% if is_company? %>
	  <strong>Description</strong>  <%= @company.description %> <br />
	  <%= link_to 'Edit Company Description', edit_company_path(@company) %><br />
    
	  <% end %>
    
    </td>
  </tr>
</table>
<p style="line-height:0.25em;"><h3>Number of credits: <%= @user.credits %></h3></p>
<p style="line-height:0.25em;"><h3><a href="#">Purchase credits here.</a></h3></p>
<p style="line-height:0.25em;"><h3>Recent <%= link_to "Purchases", purchases_path %></h3></p>
