<%= form_for @deal, :html => {:multipart => true}  do |f| %>
  <% if @deal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@deal.errors.count, "error") %> prohibited this deal from being saved:</h2>

      <ul>
      <% @deal.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <div class="milestone">
  <%= f.fields_for :milestones do |builder|%>

        <%= builder.label "Number of People" %><br />
        <%= builder.text_field :people %><br />

        <%= builder.label :price %><br />
        <%= builder.text_field :price %><br />

  <% end %>
	      </div>

  <div class="field">
    <%= f.label "Minimum Price"%><br />
    <%= f.text_field :min_price %>
  </div>
  <div class="field">
    <%= f.label "Original Price" %><br />
    <%= f.text_field :org_price %>
  </div>
  <div class="field">
    <%= f.label "Blurb"%><br />
    <%= f.text_field :blurb %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label "Deal Image" %><br />
 <%= f.file_field :image %><br />
  </div>
  <div class="field">
    <%= f.label "Start Date" %><br />
    <%= f.datetime_select :startdate %>
  </div>
  <div class="field">
    <%= f.label :duration %><br />
    <%= f.select :duration, [["7 days",7],["6 days",6],["5 days",5],["4 days",4],["3 days",3],["2 days",2],["1 day",1]] %>
  </div>
    <div class="field">
    <%= f.label :category %><br />
    <%= f.select :category, [["Other","other"],["Clothing","clothing"],["Sport Supplies","sportsupplies"],["Gourmet","gourmet"]] %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
