<%= form_for(@deal) do |f| %>
  <% if @deal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@deal.errors.count, "error") %> prohibited this deal from being saved:</h2>

      <ul>
      <% @deal.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.fields_for :milestones do |builder|%>
	
	<%= builder.label :people %><br />
	<%= builder.text_field :people %>
	
    <%= builder.label :price %><br />
    <%= builder.text_field :price %>

  <% end %>
	

  <div class="field">
    <%= f.label :min_price %><br />
    <%= f.text_field :min_price %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :org_price %><br />
    <%= f.text_field :org_price %>
  </div>
  <div class="field">
    <%= f.label :startdate %><br />
    <%= f.datetime_select :startdate %>
  </div>
  <div class="field">
    <%= f.label :duration %><br />
    <%= f.select :duration, [[7,7],[6,6],[5,5],[4,4],[3,3],[2,2],[1,1]] %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
