<!--
<p>
  <b>Company:</b>
  <%= @deal.company_id %>
</p>

<p>
  <b>Min price:</b>
  <%= @deal.min_price %>
</p>

<p>
  <b>Description:</b>
  <%= @deal.description %>
</p>

<p>
  <b>Org price:</b>
  <%= @deal.org_price %>
</p>

<p>
  <b>Expired:</b>
  <%= @deal.expired %>
</p>

<p>
  <b>Startdate:</b>
  <%= @deal.startdate %>
</p>

<p>
  <b>Duration:</b>
  <%= @deal.duration %>
</p>

<p>
  <%= link_to 'Purchase', execute_buy_deal_path(@deal) %>
</p>

<% if is_company? %>
<%= link_to 'Edit', edit_deal_path(@deal) %>
<% end %>
-->

 <div id="pageHead">
	<h1>Checkout Summary</h1>
 </div>
 <div id="checkout" width=100% style="padding-bottom: 40px;">
	<table id="summary" style="border-radius:15px; border-style: dashed; border-color: #CC0000; background-color: #cee4d8; font-family:Helvetica, Arial, sans-serif; font-size:20px;">
	<tr class="checkout">
	<td class="checkout">Company</td>
	<td class="checkout">Purchase Price</td>
	<td class="checkout">Original Price</td>
	<td class="checkout">Description</td>
	</tr>
	<tr class="data">
	<td class="data"><%= @deal.company_id %></td>
	<td class="data">$<%= @deal.min_price %></td>
	<td class="data">$<%= @deal.org_price %></td>
	<td class="data"><%= @deal.description %></td>
	</tr>
	</table>

 </div>
 <div id="product" width=100%>
	<div id="image" width=40% style="float:left; padding-bottom:40px; position: relative; left: 100px;">
      <%= image_tag(@deal.image_url.to_s) %>

	</div>
	<div id="confirmation" width=60% style="float:right;">
		<div id="total" width=100% style="position: relative; top:10px; right: 200px; font-family:Helvetica, Arial, sans-serif; font-size:24px; padding:10px 10px 10px 10px; text-align:center;">
			Total: $<%= @deal.min_price %>
		</div>
		<div id="purchase" width=100% style="border:2px solid;
		border-radius:25px; position: relative; top:20px; right: 200px; font-family:Helvetica, Arial, sans-serif; font-size:24px; padding:10px 10px 10px 10px; background-color: black; font-color:#faf9f9; text-align:center;">
			<%= link_to 'Purchase', execute_buy_deal_path(@deal) %>
		</div>
		<div id="blurb" style="position: relative; top:30px; right: 200px; font-family:Helvetica, Arial, sans-serif; font-size:10px; padding:10px 10px 10px 10px; text-align:center;">
			$<%= @deal.min_price %> will be charged to your account.<br />
			A receipt will be sent to your email address.<br />
			By purchasing, you agree to our Terms of Service.<br />
		</div>
	</div>
 </div>




