<p>
  <b>Company:</b>
  <%= @deal.company_id %>
</p>

<p>
  <b>Min price:</b>
  <%= @deal.min_price %>
</p>

<p>
  <b>Description:</b>
  <%= @deal.description %>
</p>

<p>
  <b>Org price:</b>
  <%= @deal.org_price %>
</p>

<p>
  <b>Expired:</b>
  <%= @deal.expired %>
</p>

<p>
  <b>Startdate:</b>
  <%= @deal.startdate %>
</p>

<p>
  <b>Duration:</b>
  <%= @deal.duration %>
</p>

<p>
  <%= link_to 'Buy Now', purchases_user_path(current_user) %>
</p>


