

           <div id="pageHead">

                <% if is_company? %>
                    <%= link_to 'New Deal', new_deal_path %>
                <% end %>
			</div>
<!--<div id="sidebar">
				<ul id="filterNav" class="clearfix">
					<li class="segment-0"><a href="#" data-filter="*">Top Deals</a></li>
					<li><a class="" href="#" data-filter=".animation">Past Deals</a></li>
<li><a class="" href="#" data-filter=".illustration">Most Discussed</a></li>
				</ul>
	</div>-->
           <div id ="sidebar">
                      <h1>Live Deals</h1>
           <ul id="filterNav" class="clearfix">
					<li class="segment-0"><a href="#" data-filter="*" class="selected">All Deals</a></li>
					<li><a href="#" data-filter=".clothing">Clothing</a></li>
                    <li><a href="#" data-filter=".sportsupplies">Sport Supplies</a></li>
                    <li><a href="#" data-filter=".gourmet">Gourmet</a></li>
		   </ul>
           </div>
<div id="content" class="threeFourth clearfix">

<div id="projects">
  <div style="overflow: hidden; position: relative; " class="thumbs masonry isotope">
         <% if @deals.empty? and is_company? %>
             <p>You currently have no deals. <%= link_to 'Click here', new_deal_path %> to create a new deal.</p>
        <% elsif @deals.empty?%>
            <p>There are currently no live deals. Please check back later!</p>
        <% end %>
  <% @deals.each do |deal| %>

		<div style=" opacity: 1; -moz-transform: scale(1);" class="project small <%= deal.category %> isotope-item thumbnail thumbnail-with-margin">
			<a href="/deals/<%= deal.id %>" rel="bookmark">
				<img style="opacity: 1;" src="<%= deal.image_url.to_s %>" class="thumb wp-post-image" alt="Tube Drop">
              <span style="opacity: 0; display: inline;" class="title">
                <span><%= deal.description %></span>
              </span>
			</a>
		</div>


      <% end %>



	</div>
</div>

</div>


   <!--
<h1>Listing deals</h1>

<table>
  <tr>
    <th>Company</th>
    <th>Min price</th>
    <th>Description</th>
    <th>Org price</th>
    <th>Expired</th>
    <th>Startdate</th>
    <th>Duration</th>
    <th>Image</th>
    <% if is_company? %>
    <th>Number of users</th>
    <% end %>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @deals.each do |deal| %>
  <tr>
    <td><%= deal.company_id %></td>
    <td><%= deal.min_price %></td>
    <td><%= deal.description %></td>
    <td><%= deal.org_price %></td>
    <td><%= deal.expired %></td>
    <td><%= deal.startdate %></td>
    <td><%= deal.duration %></td>
    <td><%= image_tag deal.image_url.to_s %></td>

    <% if is_company? %>
    <td><%= deal.users.count %></td>
        <% end %>
    <td><%= link_to 'Show', deal, :rel => "bookmark"%></td>
    <td><%= link_to 'Edit', edit_deal_path(deal) %></td>
    <td><%= link_to 'Destroy', deal, :confirm => 'Are you sure?', :method => :delete %></td>

  </tr>
<% end %>
</table>  -->


