
<% if is_company? %>
<%= link_to 'New Deal', new_deal_path %>
<% end %>

<h1>Listing deals</h1>

<table>
  <tr>
    <th>Company</th>
    <th>Min price</th>
    <th>Description</th>
    <th>Org price</th>
    <th>Expired</th>
    <th>Startdate</th>
    <th>Duration</th>
    <th>Image</th>
    <% if is_company? %>
    <th>Number of users</th>
    <% end %>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @deals.each do |deal| %>
  <tr>
    <td><%= deal.company_id %></td>
    <td><%= deal.min_price %></td>
    <td><%= deal.description %></td>
    <td><%= deal.org_price %></td>
    <td><%= deal.expired %></td>
    <td><%= deal.startdate %></td>
    <td><%= deal.duration %></td>
    <td><%= image_tag deal.image_url.to_s %></td>

    <% if is_company? %>
    <td><%= deal.users.count %></td>
        <% end %>
    <td><%= link_to 'Show', deal%></td>
    <td><%= link_to 'Edit', edit_deal_path(deal) %></td>
    <td><%= link_to 'Destroy', deal, :confirm => 'Are you sure?', :method => :delete %></td>

  </tr>
<% end %>
</table>

<br />
           <div id="pageHead">
			<h1>Live Deals</h1>
			</div>
<div id="sidebar">

				<ul id="filterNav" class="clearfix">
					<li class="segment-0"><a href="#" data-filter="*">Top Deals</a></li>
					<li><a class="" href="#" data-filter=".animation">Past Deals</a></li>
<li><a class="" href="#" data-filter=".illustration">Most Discussed</a></li>
				</ul>


					</div>
<div id="content" class="threeFourth clearfix">

<div id="projects">
    <div style="overflow: hidden; position: relative; height: 750px;" class="thumbs masonry isotope">
		<div style="position: absolute; left: 0px; top: 0px; opacity: 1; -moz-transform: scale(1);" class="project small animation   isotope-item">
			<a href="/deals/1" rel="bookmark">
				<img style="opacity: 1;" src="http://themetrust.com/demos/clarity/wp-content/uploads/2011/06/tube_drop.jpg" class="thumb wp-post-image" alt="Tube Drop" title="" height="286" width="220">						<span style="opacity: 0; display: inline;" class="title"><span>American Apparel</span></span>
			</a>
		</div>
        <div style="position: absolute; left: 250px; top: 0px; opacity: 1; -moz-transform: scale(1);" class="project small animation  lightbox isotope-item">
			<a href="http://vimeo.com/7993383" rel="prettyPhoto">
				<img style="opacity: 1;" src="Clarity%20%C2%BB%20Our%20Work_files/box_animation-220x220.jpg" class="thumb wp-post-image" alt="Box Animation" title="" height="220" width="220">						<span style="opacity: 0; display: inline;" class="title"><span>Box Animation</span></span>
			</a>
		</div>
        <div style="position: absolute; left: 500px; top: 0px; opacity: 1; -moz-transform: scale(1);" class="project small web-design   isotope-item">
            <a href="http://themetrust.com/demos/clarity/?projects=peter-krasilnikoff" rel="bookmark">
                <img style="opacity: 1;" src="Clarity%20%C2%BB%20Our%20Work_files/peter.jpg" class="thumb wp-post-image" alt="Peter Krasilnikoff" title="" height="286" width="220">						<span style="opacity: 0; display: inline;" class="title"><span>Peter Krasilnikoff</span></span>
            </a>
        </div>
        <div style="position: absolute; left: 250px; top: 250px; opacity: 1; -moz-transform: scale(1);" class="project small illustration   isotope-item">
            <a href="http://themetrust.com/demos/clarity/?projects=rush" rel="bookmark">
                <img style="opacity: 1;" src="Clarity%20%C2%BB%20Our%20Work_files/rush-220x220.jpg" class="thumb wp-post-image" alt="Rush" title="" height="220" width="220">						<span style="opacity: 0; display: inline;" class="title"><span>Rush</span></span>
            </a>
        </div>
        <div style="position: absolute; left: 0px; top: 316px; opacity: 1; -moz-transform: scale(1);" class="project small photography   isotope-item">
            <a href="http://themetrust.com/demos/clarity/?projects=church" rel="bookmark">
                <img style="opacity: 1;" src="Clarity%20%C2%BB%20Our%20Work_files/church-220x286.jpg" class="thumb wp-post-image" alt="Church" title="" height="286" width="220">						<span style="opacity: 0; display: inline;" class="title"><span>Church</span></span>
            </a>
        </div>
        <div style="position: absolute; left: 500px; top: 316px; opacity: 1; -moz-transform: scale(1);" class="project small photography  lightbox isotope-item">
            <a href="http://themetrust.com/demos/clarity/wp-content/uploads/2011/06/the_voices1.jpg" rel="prettyPhoto">
                <img style="opacity: 1;" src="Clarity%20%C2%BB%20Our%20Work_files/the_voices_thumb.jpg" class="thumb wp-post-image" alt="The Voices" title="" height="286" width="220">						<span style="opacity: 0; display: inline;" class="title"><span>The Voices</span></span>
            </a>
        </div>
        <div style="position: absolute; left: 250px; top: 500px; opacity: 1; -moz-transform: scale(1);" class="project small illustration print   isotope-item">
            <a href="http://themetrust.com/demos/clarity/?projects=andrew-jackson" rel="bookmark">
                <img style="opacity: 1;" src="Clarity%20%C2%BB%20Our%20Work_files/andrew_jackson_big-220x220.jpg" class="thumb wp-post-image" alt="Andrew Jackson" title="" height="220" width="220">						<span style="opacity: 0; display: inline;" class="title"><span>Andrew Jackson</span></span>
            </a>
        </div>


	</div>
</div>

</div>

