

           <div id="pageHead">
			<h1>Live Deals</h1>
			</div>
<!--<div id="sidebar">
				<ul id="filterNav" class="clearfix">
					<li class="segment-0"><a href="#" data-filter="*">Top Deals</a></li>
					<li><a class="" href="#" data-filter=".animation">Past Deals</a></li>
<li><a class="" href="#" data-filter=".illustration">Most Discussed</a></li>
				</ul>
	</div>-->
<div id="content" class="threeFourth clearfix">

<div id="projects">
    <div style="overflow: hidden; position: relative; min-height: 450px;" class="thumbs masonry isotope">
		<div style=" opacity: 1; -moz-transform: scale(1);" class="project small animation   isotope-item thumbnail thumbnail-with-margin">
			<a href="/deals/1" rel="bookmark">
				<img style="opacity: 1;" src="http://themetrust.com/demos/clarity/wp-content/uploads/2011/06/tube_drop.jpg" class="thumb wp-post-image" alt="Tube Drop" title="" >
              <span style="opacity: 0; display: inline;" class="title">
                <span>American Apparel</span>
              </span>
			</a>
		</div>
       <div style=" opacity: 1; -moz-transform: scale(1);" class="project small animation   isotope-item thumbnail thumbnail-with-margin">
			<a href="/deals/1" rel="bookmark">
				<img style="opacity: 1;" src="http://themetrust.com/demos/clarity/wp-content/uploads/2011/06/tube_drop.jpg" class="thumb wp-post-image" alt="Tube Drop" title="" >
              <span style="opacity: 0; display: inline;" class="title">
                <span>American Apparel</span>
              </span>
			</a>
		</div>
      <div style=" opacity: 1; -moz-transform: scale(1);" class="project small animation   isotope-item thumbnail thumbnail-with-margin">
			<a href="/deals/1" rel="bookmark">
				<img style="opacity: 1;" src="http://themetrust.com/demos/clarity/wp-content/uploads/2011/06/tube_drop.jpg" class="thumb wp-post-image" alt="Tube Drop" title="" >
              <span style="opacity: 0; display: inline;" class="title">
                <span>American Apparel</span>
              </span>
			</a>
		</div>
      <div style=" opacity: 1; -moz-transform: scale(1);" class="project small animation   isotope-item thumbnail">
			<a href="/deals/1" rel="bookmark">
				<img style="opacity: 1;" src="http://themetrust.com/demos/clarity/wp-content/uploads/2011/06/tube_drop.jpg" class="thumb wp-post-image" alt="Tube Drop" title="" >
              <span style="opacity: 0; display: inline;" class="title">
                <span>American Apparel</span>
              </span>
			</a>
		</div>
      <div style=" opacity: 1; -moz-transform: scale(1);" class="project small animation   isotope-item thumbnail thumbnail-with-margin">
			<a href="/deals/1" rel="bookmark">
				<img style="opacity: 1;" src="http://themetrust.com/demos/clarity/wp-content/uploads/2011/06/tube_drop.jpg" class="thumb wp-post-image" alt="Tube Drop" title="" >
              <span style="opacity: 0; display: inline;" class="title">
                <span>American Apparel</span>
              </span>
			</a>
		</div>
      <div style=" opacity: 1; -moz-transform: scale(1);" class="project small animation   isotope-item thumbnail thumbnail-with-margin">
			<a href="/deals/1" rel="bookmark">
				<img style="opacity: 1;" src="http://themetrust.com/demos/clarity/wp-content/uploads/2011/06/tube_drop.jpg" class="thumb wp-post-image" alt="Tube Drop" title="" >
              <span style="opacity: 0; display: inline;" class="title">
                <span>American Apparel</span>
              </span>
			</a>
		</div>
      <div style=" opacity: 1; -moz-transform: scale(1);" class="project small animation   isotope-item thumbnail thumbnail-with-margin">
			<a href="/deals/1" rel="bookmark">
				<img style="opacity: 1;" src="http://themetrust.com/demos/clarity/wp-content/uploads/2011/06/tube_drop.jpg" class="thumb wp-post-image" alt="Tube Drop" title="" >
              <span style="opacity: 0; display: inline;" class="title">
                <span>American Apparel</span>
              </span>
			</a>
		</div>

	</div>
</div>

</div>

           <% if is_company? %>
<%= link_to 'New Deal', new_deal_path %>
<% end %>

<h1>Listing deals</h1>

<table>
  <tr>
    <th>Company</th>
    <th>Min price</th>
    <th>Description</th>
    <th>Org price</th>
    <th>Expired</th>
    <th>Startdate</th>
    <th>Duration</th>
    <th>Image</th>
    <% if is_company? %>
    <th>Number of users</th>
    <% end %>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @deals.each do |deal| %>
  <tr>
    <td><%= deal.company_id %></td>
    <td><%= deal.min_price %></td>
    <td><%= deal.description %></td>
    <td><%= deal.org_price %></td>
    <td><%= deal.expired %></td>
    <td><%= deal.startdate %></td>
    <td><%= deal.duration %></td>
    <td><%= image_tag deal.image_url.to_s %></td>

    <% if is_company? %>
    <td><%= deal.users.count %></td>
        <% end %>
    <td><%= link_to 'Show', deal, :rel => "bookmark"%></td>
    <td><%= link_to 'Edit', edit_deal_path(deal) %></td>
    <td><%= link_to 'Destroy', deal, :confirm => 'Are you sure?', :method => :delete %></td>

  </tr>
<% end %>
</table>

<br />

