<%= stylesheet_link_tag 'columnal/columnal' %>
<%= stylesheet_link_tag 'columnal/custom' %>


<%= stylesheet_link_tag 'twitter_bootstrap.min' %>

<%= @people %>
<%= @max %>

               <%= @percentage %>
<div class='container'>
	
	<div class='row'>
		<div class='col_12'>
			<h1>
			  <b>Company:</b>
			  <%= @deal.company_id %>
			</h1>
		</div>
	</div>

	<div class='row'>
		<div class='col_3'>
			<script>
  jQuery(document).ready(
    function() {
      milestone(<%= @percentage %>);
      milestone1(<%= @milestone1.people / (@max * 1.0 )%>);
      milestone2(<%= @milestone2.people / (@max * 1.0 )%>);
      milestone3(<%= @milestone3.people / (@max * 1.0 )%>);
    }
  );
        <!-- Figure out how to calculate percentage used, number of vouchers for that deal vs largest milestone-->
</script>

<div id="pageHead">
</div>
<div id="thermometer">
  <div id = "people">

  </div>
  <div id = "arrow" >

  </div>
  <div id= "arrow_people">
    <p><%= @people %></p>

  </div>
  <div class="right">
    <!--<% @sorted_milestones.each do |milestone| %>
       <div class="milestone">
          Price: <%= milestone.price %><br />
         People: <%= milestone.people %>
        </div>
    <% end %>-->
    <div id="milestone1">
      Price: $<%= @milestone1.price %> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
      People: <%= @milestone1.people %>
    </div>
    <div id="milestone2">
      Price: $<%= @milestone2.price %> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
      People: <%= @milestone2.people %>
    </div>
    <div id="milestone3">
      Price: $<%= @milestone3.price %> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
      People: <%= @milestone3.people %>
    </div>

  </div>
</div>

		</div>
		<div class='col_3'>
			
			<div  id='countDownTimer' >
			</div>
			
			<p id='current-price'>
				<b>Current Price:</b>
				<%= @current_price %>	
			</p>
			<div class='user-actions'>
				<%= link_to 'Bid', buy_deal_path(@deal), :class=> 'btn super-large'%>
			</div>
			
			<div class='user-actions'>
				<%= button_to 'Bury', root_path%>
			</div>
		</div>
		<div class='col_6 last'>

			
			<div id='main-description'>
			  <%= image_tag @deal.image_url.to_s %>
			

				<p>
				  <b>Description:</b>
				  <%= @deal.description %>
				</p>
			</div>
		</div>
		

</div>

<script>
jQuery(document).ready(function(){
    	var timeLeft = <%= @time_left %>;
	
	
		var expireURL = window.location.host + '/deal'
		
		jQuery('#countDownTimer').countdown({until: timeLeft.toString()+'m', expiryUrl:expireURL})
})


</script>

<p>
  <b>Min price:</b>
  <%= @deal.min_price %>
</p>


<p>
  <b>Org price:</b>
  <%= @deal.org_price %>
</p>

<p>
  <b>Expired:</b>
  <%= @deal.expired %>
</p>

<p>
  <b>Startdate:</b>
  <%= @deal.startdate.to_datetime %>
</p>


<p>
  <b>Duration:</b>
  <%= @deal.duration %>
</p>

<p>
  <b>Time now:</b>
  <%= DateTime.now.utc %>
</p>

<p>
  <b>Time Left:</b>
  <%= @time_left %>
</p>


<p>
<b>Number of users:</b>
  <%= @deal.users.count %>
</p>


<% if is_company? %>

    <p><%= link_to 'Edit', edit_deal_path(@deal) %></p>
    <b> Milestones </b><br />
    <% @deal.milestones.each do |milestone| %>
      <b>Price: <%= milestone.price %></b>
      <b>People: <%= milestone.people %></b><br />
    <% end %>
    <br />
    <b>Vouchers issued:</b><br />
    <% @deal.vouchers.each do |voucher| %>
      <b>Code: <%= voucher.id %></b><br />
    <% end %>
<% else %>
   <p>
  <%= link_to 'Buy Now', buy_deal_path(@deal) %>
</p>
<% end %>



