<%= stylesheet_link_tag 'columnal/columnal' %>
<%= stylesheet_link_tag 'columnal/custom' %>


<%= stylesheet_link_tag 'twitter_bootstrap.min' %>

<div class='container'>
	
	<div class='row'>
		<div class='col_12'>
			<h1>
			  <b>Company:</b>
			  <%= @deal.company_id %>
			</h1>
		</div>
	</div>
	
	<div class='row'>
		<div class='col_3'>
			<%= image_tag("therometer.png", :alt => "Progress Made") %>

		</div>
		<div class='col_3'>
			<div  id='countDownTimer'>
			</div>
			

			<div class='user-actions'>
				<%= button_to 'Bid', buy_deal_path(@deal), :form_class => 'btn primary'%>
			</div>
			
			<div class='user-actions'>
				<%= button_to 'Bid', buy_deal_path(@deal), :form_class => 'btn primary'%>
			</div>
		</div>
		<div class='col_6 last'>
			<p id='current-price'>
				<b>Current Price:</b>
				<%= @current_price %>	
			</p>
			
			<div id='main-description'>
			  <%= image_tag @deal.image_url.to_s %>
			

				<p>
				  <b>Description:</b>
				  <%= @deal.description %>
				</p>
			</div>
		</div>
		

</div>

<script>
jQuery(document).ready(function(){
	    var year = <%= @expire_time.year %>;
	    var month = <%= @expire_time.month %>;
	    var day = <%= @expire_time.day %>;
	    var hour = <%= @expire_time.hour %>;
	    var minute = <%= @expire_time.minute %>;
	    var second = <%= @expire_time.second %>;
	
	
	    var dealEndDate = new Date(); 
	    dealEndDate = new Date(year, month-2, day, hour, minute-26, second-30); 
		var expireURL = window.location.host + '/deal'
		
		jQuery('#countDownTimer').countdown({until: dealEndDate, expiryUrl:expireURL})
})


</script>

<p>
  <b>Min price:</b>
  <%= @deal.min_price %>
</p>


<p>
  <b>Org price:</b>
  <%= @deal.org_price %>
</p>

<p>
  <b>Expired:</b>
  <%= @deal.expired %>
</p>

<p>
  <b>Startdate:</b>
  <%= @deal.startdate.to_datetime %>
</p>

<p>
  <b>Expire Time:</b>
  <%= @expire_time.to_datetime %>
</p>

<p>
  <b>Duration:</b>
  <%= @deal.duration %>
</p>

<p>
  <b>Time now:</b>
  <%= DateTime.now %>
</p>


<p>
<b>Number of users:</b>
  <%= @deal.users.count %>
</p>


<% if is_company? %>

    <p><%= link_to 'Edit', edit_deal_path(@deal) %></p>
    <b> Milestones </b><br />
    <% @deal.milestones.each do |milestone| %>
      <b>Price: <%= milestone.price %></b>
      <b>People: <%= milestone.people %></b><br />
    <% end %>
    <br />
    <b>Vouchers issued:</b> <br />
    <% @deal.vouchers.each do |voucher| %>
      <b>Code: <%= voucher.id %></b><br />
    <% end %>
<% else %>
   <p>
  <%= link_to 'Buy Now', buy_deal_path(@deal) %>
</p>
<% end %>
