<%= stylesheet_link_tag 'columnal/columnal' %>
<%= stylesheet_link_tag 'columnal/custom' %>


<%= stylesheet_link_tag 'twitter_bootstrap.min' %>

<div class='container'>
	
	<div class='row'>
		<div class='col_12'>
			<h1>
			  <b>Company:</b>
			  <%= @deal.company_id %>
			</h1>
		</div>
	</div>

	<div class='row'>
		<div class='col_3'>
			<script>
  jQuery(document).ready(
    function() {
      milestone(<%= @percentage %>);
       <% @sorted_milestones.each_with_index do |milestone, index| %>
        milestones(<%=index%>,<%= milestone.people / (@max * 1.0 )%>);
        <% end %>

    }
  );
        <!-- Figure out how to calculate percentage used, number of vouchers for that deal vs largest milestone-->
</script>

<div id="pageHead">
</div>
<div id="thermometer">
  <div id = "black_bar">

  </div>
  <div id = "people">

  </div>

  <div id= "arrow_people">
    <p><%= @people %></p>

  </div>
    <% @sorted_milestones.each_with_index do |milestone, index| %>
       <div id="<%='milestone' + index.to_s%>">	  
          <div class="left" style="padding-right:20px; font-family:Helvetica, Arial, sans-serif; font-size: 12px;">$<%= milestone.price %>&nbsp;&nbsp;</div>
         <div class="right" style="padding-left: 10px; font-family:Helvetica, Arial, sans-serif; font-size: 12px;">&nbsp;&nbsp;<%= milestone.people %>&nbsp;People</div>
        </div>
    <% end %>
</div>

		</div>
		<div class='col_3' style="font-family:Helvetica, Arial, sans-serif;">
			<h2 style="text-align:center; padding-bottom:5px;"> Time Remaining: </h2>
			<div  id='countDownTimer'>			
			</div>
			<div id="currentPrice" style="font-family:Helvetica, Arial, sans-serif; padding-top: 15px; padding-bottom:30px;">
				<h2 style="line-height:1.75em; color:#7d7d7b; text-align:center">Current Price:</h2>
				<h2 style="text-align:center; line-height:0.75em; color:#7d7d7b;">$<%= @deal.current_price()%></h2>
			</div>
			<div id="bid" width=50% style="border:2px solid;
			border-radius:25px; font-family:Helvetica, Arial, sans-serif; font-size:24px; padding:10px 10px 10px 10px; background-color: black; font-color:#faf9f9; text-align:center; margin:auto; background-color: #8AB799">
				<%= link_to 'Bid', popularity_increase_deal_path(@deal) %>
			</div>
			<div id="space" style="padding-bottom:30px;">
			</div>
			<div id="bury" width=50% style="border:2px solid;
			border-radius:25px; font-family:Helvetica, Arial, sans-serif; font-size:24px; padding:10px 10px 10px 10px; background-color: #f7f7f7; font-color:#faf9f9; text-align:center; margin:auto;">
				<%= link_to 'Bury', popularity_decrease_deal_path(@deal) %>
              <%= @deal.popularity %>
			</div>
			<div id="space" style="padding-bottom:30px;">
			</div>
			<div id="purchase" width=50% style="border:2px solid;
			border-radius:25px; font-family:Helvetica, Arial, sans-serif; font-size:24px; padding:10px 10px 10px 10px; background-color: black; font-color:#faf9f9; text-align:center; margin:auto;">
				<%= link_to 'Buy Now', buy_deal_path(@deal) %>
			</div>
		</div>
		<div class='col_6 last'>

			
			<div id='main-description'>
			  <img src="http://www.newburycomics.com/images/bmh/BU/103-0149312NEWBU.jpg" >
			  <!--<%= image_tag @deal.image_url.to_s %>-->
				<p>
				  <b>Product Description:</b>
				  <%= @deal.description %>
				</p>
				
				<p>
				  <b>Company Description:</b>
				  <%= @company.description %>
				</p>
			</div>
			<div id="faq" style="padding-left:15px; font-family:Helvetica, Arial, sans-serif;">
				<div class="layer1" style="width:400px;">
				<div id="head" style="text-align:center;">
					<h2>FAQ</h2>
				</div>
				<p class="heading">When can I use my voucher?</p>
				<div class="content">You can use your voucher immediately. Just print out the code, take it to the local store, and redeem your product.</div>
				<p class="heading">What happens if a milestone is not reached?</p>
				<div class="content">If the first milestone is not reached, you will automatically be refunded the purchase price at the first level. If you reach the second or third milestone, the difference will be refunded to you.</div>
				<p class="heading">Can I refund my voucher?</p>
				<div class="content">Refunds will be allowed for special circumstances. Please contact our support services to discuss your refund.</div>
				<p class="heading">Will refunds be issued if the store goes out of business or if the product is defective?</p>
				<div class="content">Yes, under these circumstances, refunds will automatically be issued.</div>
				<p class="heading">Is the transaction secure?</p>
				<div class="content">Yes! Your payment information is never stored in our databases, and we encrypt all data that you send.</div>
				<p class="heading">Is it guaranteed that the product will not go out of stock when I redeem it?</p>
				<div class="content">Yes, all of our merchants have agreed to pre-stock the selected number of items, so it will be readily available when you go pick it up.</div>
				<p class="heading">Can I gift items?</p>
				<div class="content">Unfortunately not yet, but that is a feature we are working on!</div>
				</div>
			</div>
			
		</div>
		

</div>

<script>
jQuery(document).ready(function(){
    	var timeLeft = <%= @time_left %>;
	
	
		var expireURL = window.location.host + '/deal'
		
		jQuery('#countDownTimer').countdown({until: timeLeft.toString()+'m', expiryUrl:expireURL})
})


</script>




