<p>
  <b>Company:</b>
  <%= @deal.company_id %>
</p>

<p>
  <b>Min price:</b>
  <%= @deal.min_price %>
</p>

<p>
  <b>Description:</b>
  <%= @deal.description %>
</p>

<p>
  <b>Org price:</b>
  <%= @deal.org_price %>
</p>

<p>
  <b>Expired:</b>
  <%= @deal.expired %>
</p>

<p>
  <b>Startdate:</b>
  <%= @deal.startdate %>
</p>

<p>
  <b>Duration:</b>
  <%= @deal.duration %>
</p>

<p>
  <%= link_to 'Buy Now', buy_deal_path(@deal) %>
</p>

  <b>Number of users:</b>
  <%= @deal.users.count %>
</p>


Add a therometer picture.

<% if is_company? %>
    <%= link_to 'Edit', edit_deal_path(@deal) %>

    <% @deal.milestones.each do |milestone| %>
      <b>Price: <%= milestone.price %></b>
      <b>People: <%= milestone.people %></b><br />
    <% end %>
<% end %>

