<div id="header">
	<div class="inside">	
	<div class="top clearfix">
					
				<div id="logo">
						
			<%= link_to logo, root_path %>
			
		</div>
		
		<div id="socialLinks" class="clearfix">
				<a class="twitter" href="https://twitter.com/#!/mobstone_cal" style="opacity: 0.5;"><span>Twitter</span></a>
				<a class="facebook" href="http://www.facebook.com/pages/MobStone/279977025366994" style="opacity: 0.5;"><span>Facebook</span></a>
	    </div>
	</div>
	
	<div id="mainNav" class="clearfix">							
		<div class="menu-main-nav-container">
          <ul id="menu-main-nav" class="sf-menu">
            <li class="menu-item <%= @title == "Deals" ? "current-menu-item" : "" %>"><%= link_to "Deals", root_path%></li>
            <% if is_admin? %>
                <li class="menu-item <%= @title == "Users" ? "current-menu-item" : "" %>"><%= link_to "Users", users_path %></li>
            <% end %>

            <!--<li class="menu-item <%= @title == "Help" ? "current-menu-item" : "" %>"><%= link_to "Help", help_path %></li>  -->
            <li class="menu-item <%= @title == "About" ? "current-menu-item" : "" %>"><%= link_to "About", about_path %></li>

            <% if signed_in? %>

                <li class="menu-item right-item"><%= link_to "Sign out", signout_path, :method => :delete %></li>
                <li class="menu-item right-item <%= @title == "Profile" ? "current-menu-item" : "" %>"><%= link_to current_user.name, profile_path%></li>
                <li class="menu-item right-item <%= @title == "Settings" ? "current-menu-item" : "" %>"><%= link_to "Settings", settings_path %></li>
                    <li class="menu-item right-item <%= @title == "Purchases" ? "current-menu-item" : "" %>"><%= link_to "Purchases", purchases_path %></li>
            <% else %>
                <li class="menu-item right-item <%= @title == "Sign in" ? "current-menu-item" : "" %>"><%= link_to "Sign in", signin_path %></li>
            <% end %>
            <% unless signed_in? %>
               <li class="menu-item right-item <%= @title == "Sign up" ? "current-menu-item" : "" %>"><%= link_to "Sign up", signup_path %></li>
            <% end %>

          </ul>
        </div>
	</div>
	
		
	</div>		
</div>


