<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%= csrf_meta_tag %>
    <%= render 'layouts/stylesheets' %>
    <%= javascript_include_tag :defaults %>
  </head>
  <body class="archive tax-portfolio term-our-work term-3">
    <div id="container">
      <%= render 'layouts/header' %>
      <div id="main" class="clearfix portfolio">
        <div class="wrap">
          <% flash.each do |key, value| %>
            <%= content_tag(:div, value, :class => "flash #{key}") %>
          <% end %>
          <%= yield %>
        </div>

      </div> 	 
	  <%= render 'layouts/footer' %> 
    </div>	

<script type='text/javascript' src='http://themetrust.com/demos/clarity/wp-content/themes/clarity/js/prettyPhoto_3.1.2/js/jquery.prettyPhoto.js?ver=3.1.2'></script>

  </body>
</html>